// vars
$textcolor1: #000; 
$textcolor2: #ED213A;  // logo color: FF0000
$textcolor3: #999; 
$textcolor4: #DDCF1F; 
$textcolor5: #ccc; 
$textcolor6: #fff; 
$textcolor7: #928dab; 
$textcolor8: #333; 

$backgroundcolor1: #DDCF1F; 
$backgroundcolor2: #333; 
$backgroundcolor3: #a73737; // blue 0880BD red a73737 
$backgroundcolor4: #ED213A;
$backgroundcolor5: aliceblue;
$backgroundcolor6: teal;
$backgroundcolor7: rgba(0, 0, 0, 0.7);
$backgroundcolor8: rgba(0, 0, 0, 0.3);


$bordercolor1: #333; 
$bordercolor2: #ccc; 
$bordercolor3: #000; 
$bordercolor4: #837b0b;
$bordercolor5: #DDCF1F; 
$bordercolor6: aliceblue;

$boldlevel1: 000;
$boldlevel2: 500;
$boldlevel3: 900;

$fontfamily1: 'Open Sans Condensed', Arial, Helvetica, sans-serif; // site default 
$fontfamily2: 'Bebas Neue', cursive; // card movie title 

$fontsize1: 0.85em;
$fontsize2: 1em;
$fontsize3: 1.1em;
$fontsize4: 1.2em;
$fontsize5: 1.3em;
$fontsize6: 1.4em;
$fontsize7: 1.6em;
$fontsize8: 1.7em;
$fontsize9: 1.9em;
$fontsize10: 2em;
$fontsize11: 2.2em;
$fontsize12: 2.3em;
$fontsize13: 2.4em;
$fontsize14: 2.6em;

$line-height1: 1em;
$line-height2: 1.1em;
$line-height3: 1.2em;
$line-height4: 1.3em;

$max-width-card: 460px;
$max-width-card-img: 185px;
$max-height-card-img: 278px;

$border1: none;
$border2: 0.2em;
$border3: 1px;
$border4: 5px;

$borderradius1: 2px;
$borderradius2: 5px;

$borderradiusall: 0 5px 5px 0;