/*SEARCH STATE*************************************************/
/*container for responsive css flex card layout*/
.container {
  z-index: auto;
  opacity: 1;
  visibility: visible;
  margin: 0;
  padding: 0;
  color:var(--textcolor6) !important;
}

/*SEARCH RESULTS (LOOP)*************************************************/
.container.update {
  opacity: 0;
  visibility: hidden !important;
}

/*SEARCH STATE*************************************************/
/* responsive flex card layout */ 
.card-list { /* DONT NEED THIS???? integrate with container??? */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start;
  align-content: space-between;
  /*width: 100% !important;*/
}


/* CARD FLIP */ 
.card-front {
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  transform-style: preserve-3D;

  backface-visibility: hidden !important; 
  transform: translateX(0%) rotateY(0deg);
}

.card-back {
  z-index: 1;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  transform-style: preserve-3D;

  backface-visibility: hidden !important; 
  transform: translateX(0%) rotateY(360deg);
}






/*CARDS*************************************************/
.card-front, .card-back  {
  opacity: 0.9;
  filter: drop-shadow(1px 1px 0.5rem var(--dropshadow2));
  margin: 20px;
  padding: 0;
  border: 0px solid blue;
  /*word-break: break-all;*/ /*breaks long words*/
}
.card-front  {
  max-width: 460px;
  height: auto;
}
.card-back  {
  max-width: 460px;
  height: auto;
}


/* hightlight card on hover */
.card-front:hover, .card-back:hover {  
  opacity: 1; /* full opacity on hover to give vibrance to image on hover*/
  cursor: pointer;
  filter: drop-shadow(2px 2px 1rem var(--dropshadow1));
}









.card-front-wrapper {
  display: flex;
  flex-direction: row;

  flex: 1 auto !important;
  margin: 0;
  padding: 0;

  background: #000;

}


/* Movie Poster */
.card-image {
  max-width: 185px;
  max-height: 278px;
  margin: 0;
  padding: 0;
  border: 0px solid green;
}
.card-image img {
  max-width: 185px;
  max-height: 278px;
  
  margin: 0;
  padding: 0;
}


/* wrapper div for title, date, rating and description */
.card-content-front, .card-content-back {
  margin: 0; /* adds blank space to right, so overflow doesnt go to edge for long title text*/
  padding: 10px 10px 10px 15px;
  }
  
  /* wrapper div for title, date, rating and description */
  .card-content-front {
    border: 0px solid yellow;
    /*
    height: 100% !important;
    height: fit-content;
    */
    overflow: hidden !important;
  
    /*
    background: var(--backgroundcolorsetA1);
    background: var(--backgroundcolorsetA2);
    background: var(--backgroundcolorsetA3);
    */
    border-radius: 0px 5px 5px 0px !important; /*no borders to left side*/
    border-top: 1px solid var(--bordercolor3);
    border-right: 1px solid var(--bordercolor3);
    border-bottom: 1px solid var(--bordercolor3);
  }
  
.card-content-back {
    height: 100% !important;
    max-width: 100% !important;
    overflow: visible !important;
  white-space: pre-line; /*pass html*/
    background: teal;
    border-radius: 5px;
    border: 5px solid var(--bordercolor2);
  }
  
  /******************************/
  /* Movie Title h3 */
  .card-title {
    font-family: var(--fontfamily2);
    overflow: hidden !important;
  }
    /* Movie Date + Movie Rating Star Img + Rating */
  .card-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
    /* Movie Date */
    .card-date, .card-rating {
      color: var(--textcolor3);
      font-weight: normal;
    }
    /* Movie Rating Star Img */
    .icon-star {
      margin-right: 4px; /*spacing from rating value text*/
    }
  .card-content-front .card-desc, .card-content-back .card-desc {
    color: var(--textcolor6);
  }
  
  /* more info / go back buttons below description text for card flip */
  .more-info, .go-back {
    color: var(--textcolor3)
  }
  .more-info {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px 0 0 0;
  }
  .go-back {
    display: grid;
    justify-content: right;
    margin-right: 5px;
    padding: 10px 0 0 0;
  }
  .more-info, .more-info:hover, .go-back, .go-back:hover {
    cursor: pointer;
  }
  .more-info:hover, .go-back:hover {
    color: var(--textcolor4)
  }

