/*footer*/

/*
.hide {
  visibility:hidden;
}
.show {
  visibility: visible;
  position:relative;
  bottom: 0px;
}


footer {
  background-color: var(--backgroundcolor2);
}


.footer-wrapper {
  display: grid;
  justify-content:left;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  width: 100%;

}




.footer-text li {
  color: var(--textcolor1);
  font-weight: bold;
  text-align: left;
  padding: 5px 0 5px 0;
 }



*/
