/*footer*/

.hide {
  visibility:hidden;
}

.show {
  visibility: visible;
  position:relative;
  bottom: 0px;
}


footer {
  background-color: var(--backgroundcolor2);
}



.footer-wrapper {
  display: grid;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer-icons li {
  display: inline-block;
  padding: 5px 10px;
}
.footer-icons li span {
  display: none;
}
.footer-icons .icon {
  color: var(--textcolor7);
  font-size: 2em;
}
.footer-icons .icon:hover {
  color: var(--textcolor4);
  font-size: 2em;
}


.footer-text li {
  color: var(--textcolor7);
  text-align: center;
  padding: 5px;
 }

/* text for: PWA enabled app, built with React, HTML, CSS, FontAwesome & The Movie DB API.*/
.disc-text {
  font-style: italic;
  color: var(--textcolor4);
  margin: 0 20px;
}

