@import url('./form.css');


/*HOMEPAGE STATE****************************************************/
header.home {
  width: 100%;
  margin: 0; /*space from top of page*/
  padding: 0 15px 10px 15px;
  border: 0px solid rgb(122, 221, 9);
  position: relative;
  top: 10vh;

  /*remove??*/
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 1;
  visibility: visible;
  flex-grow: 1;
  animation: fade-heading 2s linear;
  transition: visibility 0.5s, opacity 1s, transform 1s;
}
@keyframes fade-heading {
  0% { opacity: 0; visibility: hidden;}  
  25% { opacity: 1; visibility: visible;}
  100% { opacity: 1; visibility: visible;}
}


/* show h1 heading image */
header.home h1 {
  border: 0px solid rgb(122, 221, 9);
}

header.home h1 img {
  max-width: 95% !important;
  height: auto !important;
  margin: 0 auto;
  padding: 0; /*add spacing to top of logo on home page*/
  border: 0px solid rgb(122, 221, 9);
}

/*burger menu icon */
header.home .icon-burger-form {
  display: none;
}

/*SEARCH STATE*************************************************/
/* fix header to top of page */
header.search {
  flex-grow: 0;
  z-index: 2 !important;
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);

  /*
  background: var(--backgroundcolor3);
  border-bottom: 1px solid var(--bordercolor1);
  */
  position:sticky;
  top: 0;
  left: 0;
}
/*removes sticky nav if view height is less than 415px, ie mobile widescreen orientation*/
@media screen and (min-height: 0px) and (max-height: 415px) {
  header.search {
    position:unset;
  }
}


header.search h1 {
  visibility: hidden;
  opacity: 0;
  display: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

/* movie logo text */
.hide-text {
  display: none;
}

header.search .icon-burger-form {
  font-size: 2em;
  cursor: pointer;
  color: var(--textcolor3);
  margin: 0 20px 0 0;
  box-shadow: 0px 5px 30px var(--boxshadow3);

}
header.search .icon-burger-form:hover {
  color: var(--textcolor4);
}
