/*popout*/
.toggle-hide {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: -9999px;
    transition: width 0.5s, visibility 2s, left 0.5s, transform 2s;
}
.toggle-show {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s, visibility 2s, left 0.5s, transform 2s;
    z-index: 3;
}

/*shadow bg layer*/
.burgermenu-wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

.burgermenu {
    padding: 20px;
    height: 100vh;
    width: 50vw;
    z-index: 4;
    background-color: var(--backgroundcolor1);
    display: grid;
    align-content: space-between;
}

/*wrappper for top logo and close button*/
.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0px 0;
}
    .burger-logo {
        width: 200px;
        height: auto;
    }
    /*close icon*/
    .icon-close {
        font-size: 2em;
        cursor: pointer;
    }

.burgermenu h3 {
    font-size: 1.2em; 
    text-transform: uppercase;
    margin: 50px 0 10px 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #000;
}
.burgermenu h3, .burgermenu h3 a {
    color: var(--textcolor1);
}
.burgermenu h3 a:hover {
    color: var(--textcolor2);
    text-decoration: underline;
}
/*h3 icons in burger menu */
.icon-burger {
    color: var(--textcolor2);
    font-size: 1em;
    margin: 0 5px 0 0;
}


/* TOP SEARCHES LINKS */
.top-links ul {
    margin: 10px 0 0 0;
    padding: 5px 0px 5px 0;
}
.top-links li {
    margin: 0 0 0 15px;
    padding: 5px 0 10px 0px;
    color: var(--textcolor2);
    font-size: 1.1em; 
    font-weight: var(--boldlevel3);
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
}
ul.top-links > li:before {
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
  }
  
.top-links li:hover {
    color: var(--textcolor2);
    text-decoration: underline;

    cursor: pointer;
} 
/* if search matches with a top link disable its click and highlight */
.top-links li.match {
    color: var(--textcolor2);
    text-decoration: underline;

    cursor: default;
}
  
/*FOOTER*/
.footer-icons ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
  }
  .footer-icons li {
    display: inline-block;
    padding: 5px 10px 5px 0;
  }
  .footer-icons .icon {
    color: var(--textcolor1);
    font-size: 2em;
  }
  .footer-icons .icon:hover {
    color: var(--textcolor2);
    font-size: 2em;
  }
  
  .disc-text {
    font-style: italic;
    color: var(--textcolor1);
    text-align: left;
    margin: 0 0px;
  }

/*MEDIA*/
@media screen and (min-width: 0px) and (max-width: 400px) {
    .burgermenu {
        width: 90vw;
    }
    .burger-logo {
        width: 150px;
        height: auto;
    }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
    .burgermenu {
        width: 75vw;
    }
    .burger-logo {
        width: 175px;
        height: auto;
    }
}