@import url('./normalize.css'); /*CSS normalise across browsers/devices*/
@import url('./Header.css'); /*HEADER*/
@import url('./Section.css'); /*SECTION*/
@import url('./burger-menu.css'); /*BURGER MENU*/
@import url('./scrolltoTop.css'); /*BACK-TO-TOP-OF-PAGE*/
@import url('./Media.css'); /*MEDIA QUERIES*/

/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf');
  font-display: swap;
}
/*@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');*/
@font-face { 
  font-family: 'Permanent Marker';
  src: url('../fonts/PermanentMarker-Regular.ttf');
  font-display: swap;
}

/**************************************************************************/


/* theme root styles */
:root {
/*
h1 title
h2 form label
h3 top links
h4 footer title/copy

span card? footer?
p card? footer?

ul/li footer social links
*/

  --textcolor1: #000; 
  --textcolor2: #ED213A;  /*logo color: FF0000*/
  --textcolor3: #999; 
  --textcolor4: #DDCF1F; 
  --textcolor5: #ccc; 
  --textcolor6: #fff; 
  --textcolor7: #928dab; 

  --backgroundcolor1: #DDCF1F; 
  --backgroundcolor2: #333; 
  --backgroundcolor3: #a73737; /* blue 0880BD red a73737 */
  --backgroundcolor4: #ED213A;
  --backgroundcolor5: aliceblue;

  --backgroundcolorsetA1: rgba(10,9,9,1); /* fallback for old browsers */
  --backgroundcolorsetA2: linear-gradient(90deg, rgba(10,9,9,1) 100%, rgba(108,87,87,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --backgroundcolorsetA3: -webkit-linear-gradient(90deg, rgba(10,9,9,1) 100%, rgba(108,87,87,1) 100%); /* Chrome 10-25, Safari 5.1-6 */
 
  --backgroundcolorsetB1: #111;  /* fallback for old browsers */
  --backgroundcolorsetB2: linear-gradient(to top, #222, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --backgroundcolorsetB3: -webkit-linear-gradient(to top, #222, #111);  /* Chrome 10-25, Safari 5.1-6 */

  --bordercolor1: #333; 
  --bordercolor2: #ccc; 
  --bordercolor3: #000; 
  --bordercolor4: #837b0b;
  --bordercolor5: #DDCF1F; 
  --bordercolor6: aliceblue;

  --dropshadow1: #DDCF1F; 
  --dropshadow2: #000;  
  --dropshadow3: #fff; 

  --boxshadow1: #000; 
  --boxshadow2: #DDCF1F;
  --boxshadow3: #333; 
  --boxshadow4: #FFF; 


  --boldlevel1: 000;
  --boldlevel2: 500;
  --boldlevel3: 900;

  --fontfamily1: 'Open Sans Condensed', Arial, Helvetica, sans-serif; /* site default */
  --fontfamily2: 'Bebas Neue', cursive; /* card movie title */
  --fontfamily3: 'Permanent Marker', cursive; /* footer title/copyright text */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper > * {
  padding: 0px;
}
.page-main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

/* base styles */
body {
  font-size: 12px; /* min val 12px */
  font-family: var(--fontfamily1);
  color: var(--textcolor1);

  /*
	max-width: 100vw;
  min-height: 100vh;
	margin: 0 auto; 
	float: none; 
  */

  /*bg repeating image*/
  background-color: var(--backgroundcolor2);
  background-attachment: fixed;
  background-size: 600px 450px;
  background-repeat: repeat;
  background-image: url('/src/images/movie-bg.png');

  border: 0px solid #0454bd;
}


img {
  max-width: 100%;
  height: auto;
}

.hide-text {
  /*
  h1 span text
  h2 span label

  visibility: hidden;
  height: 0;
  width: 0;
  display: none;

  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
    */
}