/*SEARCH STATE*/

/* error status message */
.error {
  visibility: visible;
  opacity: 1;
  margin-top: 30px;
  padding: 10px; /* change to centre of page??? flex/justify?*/
  text-align: center;
  background-color: var(--backgroundcolor1);
  border-radius: 5px;
  box-shadow: 0px 0px 20px var(--boxshadow1);
}
.error span {
  color: var(--textcolor2);
  font-weight: var(--boldlevel3);
  text-transform: none;
}

/* loading animation message */
.loading {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  top: -50px;
  left: 0;
}
.loading img {
  height: 150px;
  width: 150px;
}