/*SEARCH STATE*************************************************/

/* error status message */
.error {
  visibility: visible;
  opacity: 1;
  margin-top: 30px;
  padding: 10px; /* change to centre of page??? flex/justify?*/
  text-align: center;
  background-color: var(--backgroundcolor1);
  border-radius: 5px;
  box-shadow: 0px 0px 20px var(--boxshadow1);
}
.error span {
  color: var(--textcolor2);
  font-weight: var(--boldlevel3);
  text-transform: none;
}

/* loading animation message */
.loading {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0px solid rgb(122, 221, 9);

  position: relative;
  top: -50px;
  left: 0;
}
.loading img {
  height: 150px;
  width: 150px;
}

/*
auto fade in/out - disabled, to ensure error message remains visable until new search made
.error {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 70px 0 10px 0;
  text-align: center;
  animation: fade-error 3.5s linear;
}
@keyframes fade-error {
  0% { opacity: 0; visibility: hidden;}  
  15% { opacity: 1; visibility: visible;}
  85% { opacity: 1; visibility: visible;}  
  100% { opacity: 0; visibility: hidden;}  
}
*/
/*
.loading {
  display: flex;
  justify-content: center;
  margin: -30px 0 0 0;
  padding: -0;
}
.loading img {
  height: 150px;
  width: 150px;
  border: 0px solid #DDCF1F;
}
*/